*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
section{
    height: 100vh;
}
.color{
    color: tomato;
}
.container-flex{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    height: auto;
    margin-top: 90px;
}

.top-section h2{
    margin-top: 220px;
    font-size: 42px;
    margin-bottom: 40px;
}
.top-section p{
    padding-bottom: 5px;
    margin-bottom: 37px;
}
.link-button{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-bottom: 100px;
    border-radius: 28px;
}

/* About section style */

#about-section{
    background-image: url(img/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#about-section h2{
    margin-top: 200px;
    font-size: 25px;
    margin-bottom: 30px;
}
#about-section p{
    margin-right: 140px;
    margin-bottom: 60px;
    line-height: 2;
}

 /* recipies & followers section style */

 .recipie-title-part h2{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
 }
 .recipie-title-part p{
     text-align: center;
     margin-bottom: 40px;
 }
.recipies-item{
    margin-left: 280px;
    margin-top: 30px;
    align-items: center;
}
.recipies-card{
    border-radius: 20px;
    box-shadow: 10px 8px 40px gray;
    width: 280px;
    margin-right: 40px;
}
.recipies-card img{
    width: 90%;
    height: 185px;
    border-radius: 13px;
    margin-top: 16px;
    margin-left: 15px;
}
.recipies-card h2{
    font-size: 25px;
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.recipies-card p{
    margin-left: 14px;
    line-height: 1.8;
    margin-bottom: 20px;
}
.social-followers{
    margin-left: 280px;
    margin-top: 120px;
    box-shadow: 10px 8px 40px gray;
    width: 935px;
    border-radius: 15px;
}
.social-followers h2{
    margin-left: 110px;
    margin-right:130px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.social-followers p{
    margin-left: 110px;
    margin-bottom: 40px;
}

/* food-review section style */

#food-review{
    padding-top: 30px;
}
#food-review h2{
    text-align: center;
    margin-top: 80px;
    padding-top: 55px;
    margin-bottom: 50px;
}
.margin-left{
    margin-left:140px;
}
.client-details{
    margin-right: 30px;
}
.client-details img{
	margin-top: 51px;
	border: 3px solid black;
	padding: 3px;
	margin-left:95px;
	margin-bottom:25px;
}
.client-details h3{
    text-align: center;
    font-size: 18px;
    margin-bottom: 21px;
    margin-left: 64px;
}
.client-details p{
    text-align: center;
    margin-left: 80px;
    line-height: 2;
}

/* catering section style */

#catering{
    background-image: url(img/food/b4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.catering-title{
    padding-top: 35px;
}
#catering h2{
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
    margin-bottom: 30px;
}
#catering p{
    text-align: center;
    margin-bottom: 40px;
    font-style: italic;
}
.catering-container{
    width: 100%;
    height: auto;
    text-align: center;
}
.catering-container-inner{
    margin-left: 10%; 
}
.catering-food{
    width: 280px;
    height: 350px;
    background-color: white;
    box-shadow: 10px 10px 40px gray;
    margin-left: 20px;
}
.catering-food h2{
    font-style: italic;
    font-size: 30px;
    margin-top: 10px;
}
.catering-container .container-food{
    width: 300px;
    height: 320px;
}
.catering-container .catering-food img{
    width: 175px;
    height: 180px;
    text-align: center;
    margin-top: 40px;
    border-radius: 100px
}

/* our achivement section style */

#our-achivement{
    background-color: #eee3e3
}
.half-width .quote{
    width: 45px;
    height: 45px;
    padding-top: 20px;
    margin-bottom: 15px;
    margin-left: 70px;
}
#our-achivement h2{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 36px;
}
#our-achivement p{
    margin-right: 120px;
    line-height: 2;
    margin-left: 70px;

}
.half-width img.signature{
    width: 150px;
    height: 50px;
    margin-top: 22px;
    margin-left: 67px;
}
.half-width img.owner{
    width: 400px;
    height: auto;
    margin-left: 80px;
}

/* footer section style */

footer{
    width: 100%;
    height: auto;
    text-align: center;
    height: 200px;
    background-color: black;
}
footer h2{
    margin-bottom: 30px;
    color: white;
    padding-top: 40px;
}
footer small{
    color: white;
}